services:
  api:
    container_name: nest-auth
    build:
      context: .
      dockerfile: Dockerfile
    image: nest-auth:latest
    restart: always
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USER: user
      DATABASE_PASSWORD: password
      DATABASE_NAME: auth_db
      PORT: 3000
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - db

  db:
    container_name: auth_db
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auth_db
    ports:
      - '5432:5432'
    volumes:
      - nest_auth_postgres_data:/var/lib/postgresql/data

volumes:
  nest_auth_postgres_data:
